<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>522606716293-qg6pepst3ncn7eh3bolfoca2ba3kesfk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAL2tcpUO92W3MsvLQ-BI0SGL4Ut_ul3dQ</string>
	<key>GCM_SENDER_ID</key>
	<string>522606716293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vntech24h.vncss</string>
	<key>PROJECT_ID</key>
	<string>vncss-7c78c</string>
	<key>STORAGE_BUCKET</key>
	<string>vncss-7c78c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522606716293:ios:ee80024bf7ddaff62d90ec</string>
	<key>DATABASE_URL</key>
	<string>https://vncss-7c78c.firebaseio.com</string>
</dict>
</plist>