<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyClMaR3At9sh9FNoWdYOcITOYurNtElDfI</string>
	<key>GCM_SENDER_ID</key>
	<string>628150166021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vntech24h.vncss</string>
	<key>PROJECT_ID</key>
	<string>vncss-d673c</string>
	<key>STORAGE_BUCKET</key>
	<string>vncss-d673c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628150166021:ios:90be508bf60444d966726c</string>
</dict>
</plist>